<!DOCTYPE html>
<html lang="en">
<%- include('../partiels/head.ejs')%>

    <body>
        <%- include('../partiels/nav.ejs')%>
            <div class="container">
                <h1>Modifier Maison</h1>
                <div class="form">
                    <form action="/houses/update-house/<%= house.id %>" method="post">
                        <label for="">Type de properit&eacute;:</label>
                        <select id="type" name="property_type" class="form-select" aria-label="Default select example">
                            <option value="<%= house.property_type %>" selected>
                                <%= house.property_type %>
                            </option>
                        </select>
                        <label for="">Louer ou vendre:</label>
                        <select class="form-select" name="add_type" aria-label="Default select example">
                            <% if(house.add_type=="LOUER" ) { %>
                                <option value="LOUER" selected>LOUER</option>
                                <option value="VENDRE">VENDRE</option>
                                <%} else { %>
                                    <option value="VENDRE" selected>VENDRE</option>
                                    <option value="LOUER">LOUER</option>
                                    <% } %>
                        </select>
                        <label for="">Type de louer:</label>
                        <select class="form-select" name="rent_type" aria-label="Default select example">
                            <% if(house.rent_type=="PAR MOIS" ) { %>
                                <option value="PAR MOIS" selected>PAR MOIS</option>
                                <option value="PAR JOUR">PAR JOUR</option>
                                <option value="PAR ANNEE">PAR ANNEE</option>
                                <% } else if(house.rent_type=="PAR JOUR" ){ %>
                                    <option value="PAR JOUR" selected>PAR JOUR</option>
                                    <option value="PAR MOIS">PAR MOIS</option>
                                    <option value="PAR ANNEE">PAR ANNEE</option>
                                    <% }else{ %>
                                        <option value="PAR ANNEE" selected>PAR ANNEE</option>
                                        <option value="PAR JOUR">PAR JOUR</option>
                                        <option value="PAR MOIS">PAR MOIS</option>

                                        <% } %>
                        </select>
                        <label for="">Location:</label>
                        <select class="form-select" name="region" aria-label="Default select example">
                            <% if(house.region=="NOUAKCHOTT OUEST" ) { %>
                                <option value="NOUAKCHOTT OUEST" selected>NOUAKCHOTT OUEST</option>
                                <option value="NOUAKCHOTT NORD">NOUAKCHOTT NORD</option>
                                <option value="NOUAKCHOTT SID">NOUAKCHOTT SID</option>
                                <% } else if(house.region=="NOUAKCHOTT SID" ){ %>
                                    <option value="NOUAKCHOTT SID" selected>NOUAKCHOTT SID</option>
                                    <option value="NOUAKCHOTT OUEST">NOUAKCHOTT OUEST</option>
                                    <option value="NOUAKCHOTT NORD">NOUAKCHOTT NORD</option>
                                    <% }else{ %>
                                        <option value="NOUAKCHOTT NORD" selected>NOUAKCHOTT NORD</option>
                                        <option value="NOUAKCHOTT SID"></option>NOUAKCHOTT SID</option>
                                        <option value="NOUAKCHOTT OUEST">NOUAKCHOTT OUEST</option>
                                        <% } %>
                        </select>
                        <label for="">Ville:</label>
                        <select class="form-select" name="city" aria-label="Default select example">

                            <% if(house.city=='KSAR' ){ %>
                                <option value="KSAR" selected>KSAR</option>
                                <option value="TEVRAGHE ZEINA">TEVRAGHE ZEINA</option>
                                <option value="TEYARITE">TEYARIT</option>
                                <option value="ARAVAT">ARAVAT</option>
                                <option value="TOUJOUNINE">TOUJOUNINE</option>
                                <option value="ELMINA">ELMINA</option>

                                <% }else if(house.city=='TEYARITE' ){%>
                                    <option value="TEYARITE" selected>TEYARIT</option>
                                    <option value="KSAR">KSAR</option>
                                    <option value="TEVRAGHE ZEINA">TEVRAGHE ZEINA</option>
                                    <option value="ARAVAT">ARAVAT</option>
                                    <option value="TOUJOUNINE">TOUJOUNINE</option>
                                    <option value="ELMINA">ELMINA</option>

                                    <% }else if(house.city=='ARAVAT' ){%>
                                        <option value="ARAVAT" selected>ARAVAT</option>
                                        <option value="TEYARITE">TEYARIT</option>
                                        <option value="KSAR">KSAR</option>
                                        <option value="TEVRAGHE ZEINA">TEVRAGHE ZEINA</option>
                                        <option value="TOUJOUNINE">TOUJOUNINE</option>
                                        <option value="ELMINA">ELMINA</option>

                                        <% }else if(house.city=='TOUJOUNINE' ){%>
                                            <option value="TOUJOUNINE" selected>TOUJOUNINE
                                            </option>
                                            <option value="ARAVAT" selected>ARAVAT</option>
                                            <option value="TEYARITE">TEYARIT</option>
                                            <option value="KSAR">KSAR</option>
                                            <option value="TEVRAGHE ZEINA">TEVRAGHE ZEINA
                                            </option>
                                            <option value="ELMINA">ELMINA</option>

                                            <%} else if(house.city=="ELMINA" ){%>
                                                <option value="ELMINA" selected>ELMINA
                                                </option>
                                                <option value="ARAVAT" selected>ARAVAT
                                                </option>
                                                <option value="TEYARITE">TEYARIT</option>
                                                <option value="KSAR">KSAR</option>
                                                <option value="TEVRAGHE ZEINA">TEVRAGHE
                                                    ZEINA</option>
                                                <option value="TOUJOUNINE">TOUJOUNINE
                                                </option>
                                                <% }else{ %>
                                                    <option value="TEVRAGHE ZEINA" selected>
                                                        TEVRAGHE ZEINA</option>
                                                    <option value="KSAR">KSAR</option>
                                                    <option value="TEYARITE">TEYARIT</option>
                                                    <option value="ARAVAT">ARAVAT</option>
                                                    <option value="TOUJOUNINE">TOUJOUNINE
                                                    </option>
                                                    <option value="ELMINA">ELMINA</option>
                                                    <% } %>
                        </select>
                        <label for="">Surface:</label>
                        <div class="input-group flex-nowrap">
                            <input type="number" value="<%= house.street_size %>" name="street_size"
                                class="form-control" placeholder="Surface" aria-label="Surface"
                                aria-describedby="addon-wrapping">
                        </div>
                        <label for="">Price:</label>
                        <div class="input-group flex-nowrap">
                            <input type="number" name="price" value="<%= house.price %>" class="form-control"
                                placeholder="Prix" aria-label="Prix" aria-describedby="addon-wrapping">
                        </div>

                        <label for="">Nombre de chambre:</label>
                        <div class="input-group flex-nowrap">
                            <input type="number" value="<%= house.number_of_room %>" class="form-control"
                                name="number_of_room" placeholder="Nombre de chambre" aria-label="Prix"
                                aria-describedby="addon-wrapping">
                        </div>
                        <label for="">Nombre de toillet:</label>
                        <div class="input-group flex-nowrap">
                            <input type="number" name="number_of_bathroom" value="<%= house.number_of_bathroom %>"
                                class="form-control" placeholder="Nombre de toillet" aria-label="nbr_toillet"
                                aria-describedby="addon-wrapping">
                        </div>
                        <label for="">Nombre d'&eacute;tage:</label>
                        <div class="input-group flex-nowrap">
                            <input type="number" name="number_of_floors" value="<%= house.number_of_floors %>"
                                class="form-control" placeholder="Nombre d'&eacute;tage" aria-label="nbr_etage"
                                aria-describedby="addon-wrapping">
                        </div>
                        <label for="">Nombre de cuisine:</label>
                        <div class="input-group flex-nowrap">
                            <input type="number" name="number_of_kitchen" value="<%= house.number_of_kitchen %>"
                                class="form-control" placeholder="Nombre de cuisine" aria-label="nbr_cuisine"
                                aria-describedby="addon-wrapping">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="<%= house.has_car_park %>" name="has_car_park"
                                type="checkbox" id="flexCheckIndeterminate" <%if (house.has_car_park){ %> checked <%
                                }else %> >
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                    Avec garage;
                                </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%= house.has_furniture %>"
                                name="has_furniture" id="flexCheckIndeterminate" <%if (house.has_furniture){ %> checked
                            <% }else %> >
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                    Avec meuble
                                </label>
                        </div>
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">Images:</label>
                            <input class="form-control form-control-sm" value="<% house.images %> " name="images"
                                id="formFileSm" type="file">
                        </div>
                        <label for="">Description:</label>
                        <div class="form-floating">
                            <textarea class="form-control" name="description" placeholder="Leave a comment here"
                                id="floatingTextarea2" style="height: 100px"><%= house.description %></textarea>
                            <label for="floatingTextarea2">Description</label>
                        </div>
                        <div class="input-group flex-nowrap">
                            <input type="hidden" name="added_by" value="<%= user.id %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
                    </form>
                </div>
            </div>
            <%- include('../partiels/footer.ejs')%>
    </body>

</html>